<!DOCTYPE html>
<html>

<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="pets/new">Add a pet</a></li>
            <li><a href="/pets">View all pets</a></li>
        </ul>
    </nav>