<%- include('../partials/header') %>
    <h2>All Pets</h2>
    <!-- Write the line of EJS to iterate over movies using forEach -->


    <% pets.forEach(function(p){ %>
        <p>Breed:
            <%= p.breed %>
        </p>
        <p><a href="/pets/<%=p.id%>">Details</a></p>
        <hr>
        <% }) %>


            <%- include('../partials/footer') %>