<%- include('../partials/header') %>

    <div id="container">
        <h2>Enter a New Pet</h2>
        <form action="/pets" method="POST">
            <label class="centerlabel">Breed
                <select name="breed">
                    <option value="cats">cats</option>
                    <option value="dogs">dogs</option>
                    <option value="fish">fish</option>
                    <option value="birds">birds</option>
                </select>
            </label>
            <label class="centerlabel">Age:
                <input type="number" name="age">
            </label>

            <label class="centerlabel">Gender:
                <select name="gender">
                    <option value="female">Female</option>
                    <option value="male">Male</option>
                </select>
            </label><br>
            <label class="centerlabel">Name:
                <input type="text" name="name">
            </label>
            <label class="centerlabel">Weight:
                <input type="number" name="weight">
            </label>
            <button type="submit">Add a Pet</button>
        </form>
    </div>

    <p>
        <%= errorMsg %>
    </p>
    <%- include('../partials/footer') %>